.addNewChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border: 1px solid #f6f6f6;
}

.addNewChat:hover {
    background-color: #ebebeb;
}

.addNewChat > h2 {
    font-size: 16px;
    margin-bottom: 8px;
}