.home {
    justify-content: center;
    align-items: center;
    display: flex;
}

.home__container {
    padding: 15px;
    margin: 50px;
    text-align: center;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.home__container > img {
    object-fit: contain;
    height: 300px;
    margin-bottom: 40px;
}

.home__container > h2 {
    padding: 10px;
}